<div class="content container infobar">
   <h1>List of users should go here</h1>
</div>
<div class="container">
    {{#each activity in view.controller}}
        <div class="col-lg-4">
                <div class="seenepisode">
                    <a {{action showModal 'episodemodal' activity.episode}} class="clickable">
                        <img class="gallery-image" {{bindAttr src="activity.episode.imageURL"}}/>
                    </a>
                        <div class="avatarWrapper">
                                <div class="avatar">
                                        {{#linkTo 'user.profile' activity.user}}
                                                <img {{bindAttr src="activity.user.gravatar"}}/>
                                        {{/linkTo}}
                                        <p class="grey">
                                                <i class="glyphicon glyphicon-time"></i> {{activity.since}}
                                        </p>
                                </div>
                            </div>
                            <div class="desc">
                                {{#linkTo 'anime.description' activity.episode.anime}}
                                    {{activity.episode.anime.title}} {{activity.episode.number}}
                                {{/linkTo}}
                                {{activity.episode.name}}
                            </div>
                </div>
        </div>
    {{/each}}
</div>
