<div class="content container">
  <ul class="breadcrumb">
    <li>
      {{#linkTo "user.profile" controller.content.firstObject.user}}{{controller.content.firstObject.user.nick}}{{/linkTo}}<span class="divider">/</span>
    </li>
    <li class="active">Library</li>
  </ul>

<div class="row-fluid">
  <div class="pull-left">
    <div class="btn-group">
		<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
			Sort by
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<!-- dropdown menu links -->
      {{#each btn in controller.sortButtons}}
        <li><a {{action setSorting btn target="controller"}}>{{btn.title}}</a></li>
      {{/each}}
		</ul>
	</div>
	</div>
    <div class="btn-group pull-left" style="margin-left:10px;">
      <a class="btn">
          <i class="icon-th"></i>
      </a>
      <a class="btn">
          <i class="icon-th-large"></i>
      </a>
      <a class="btn">
          <i class="icon-list"></i>
      </a>
    </div>
    <div class="span4 pull-right">
      <ul style="list-style-type: none;">
        <li>
          <i class="icon-time"></i> {{controller.seenTime}} spent watching anime
        </li>
        <li>
          <i class="icon-eye-open"></i> {{controller.seenEpisodes}} episodes seen
        </li>
        <li>
          <i class="icon-film"></i> {{controller.content.length}} anime seen
        </li>
      </ul>
    </div>
  </div>
<div class="anime-gallery anime-library row-fluid">

{{#each item in controller.pagedContent}}

  <div class="anime-gallery gallery-poster pull-left">
    <div class="gallery-image">
      {{#linkTo "anime.description" item.anime}}
        <img {{bindAttr src="item.anime.imageURL"}}>
        {{#if item.incomplete}}
        <div class="backdrop">
          <div class="unseen-episodes">{{item.progress}}/{{item.total}}</div>
          <div class="smallprogress">
            <div class="smallprogress-filled" {{bindAttr style="item.percentStyle"}}>
            </div>
          </div>
        </div>
        {{/if}}
      {{/linkTo}}
    </div>
    <p>{{item.anime.title}}</p>
  </div>

{{/each}}
</div>

{{view App.PaginatorCollectionView contentBinding="controller.paginator"}}
<br class="clear">

</div>
