<div class="content container">
  <ul class="breadcrumb">
    <li>
      {{#linkTo "user.profile" controllers.user.content}}
        {{controllers.user.content.nick}}
      {{/linkTo}}
    </li>
    <li class="active">Library</li>
  </ul>

<div class="row">
  <div class="pull-left">
    <div class="btn-group">
		<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
			Sort by
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<!-- dropdown menu links -->
      {{#each btn in controller.sortButtons}}
        <li><a {{action setSorting btn target="controller"}} class="clickable">{{btn.title}}</a></li>
      {{/each}}
		</ul>
	</div>
	</div>
    <div class="btn-group pull-left" style="margin-left:10px;">
      <a class="btn">
          <i class="glyphicon glyphicon-th"></i>
      </a>
      <a class="btn">
          <i class="glyphicon glyphicon-th-large"></i>
      </a>
      <a class="btn">
          <i class="glyphicon glyphicon-th-list"></i>
      </a>
    </div>
    <div class="col-lg-4 pull-right">
      <ul style="list-style-type: none;">
        <li>
          <i class="glyphicon glyphicon-time"></i> {{controller.seenTime}} spent watching anime
        </li>
        <li>
          <i class="glyphicon glyphicon-eye-open"></i> {{controller.seenEpisodes}} episodes seen
        </li>
        <li>
          <i class="glyphicon glyphicon-film"></i> {{controller.content.length}} anime seen
        </li>
      </ul>
    </div>
  </div>
<div class="anime-gallery anime-library row">

{{#each item in controller.pagedContent}}

  <div class="col-2 overflow-hidden margin-bottom-m">
      {{#link-to 'anime.description' item.anime class="media-item clickable"}}
          <div class="poster relative" {{bindAttr style="item.anime.imageUrlSmallStyle"}}>
            {{#if item.incomplete}}
              <div class="backdrop">
                <div class="unseen-episodes">{{item.progress}}/{{item.total}}</div>
                <div class="smallprogress">
                  <div class="smallprogress-filled" {{bindAttr style="item.percentStyle"}}>
                  </div>
                </div>
              </div>
            {{/if}}
          </div>
      {{/link-to}}
      <span class="nowrap small">{{item.anime.title}}</span>
  </div>

{{/each}}
</div>

{{view App.PaginatorCollectionView contentBinding="controller.paginator"}}
<br class="clear">

</div>
