<hr>
{{#with view.content}}
<div class="media">
  <a class="pull-left" {{action goToAnime this target="parentView" href=true}}> 
      <img class="thumbnail" {{bindAttr src="imageURLSmallest"}} />
  </a>
  <div class="media-body">
    <h4 class="media-heading">
    	<a {{action goToAnime this target="parentView" href=true}}> 
				{{title}}
			</a>
		</h4>
    <p>{{desc}}</p>
  </div>
</div>
{{/with}}