<div class="content container">
	<ul class="pager">
		<li class="previous">
			<a {{action goToWeek view.lastWeek}}>Oldie but a goodie</a>
		</li>
		<li class="next">
			{{#linkTo calendar view.nextWeek}}Into the future!!{{/linkTo}}
		</li>
	</ul>

	<h2 class="calendar">The amount of anime this week.... is to damn high!</h2>

	{{#each ep in controller.content}}
		<div class="pull-left gallery-episode">
			<div class="gallery-image">
				<a href="#">
					<img {{bindAttr src="ep.imageURL"}}>
				</a>
			</div>
			<p class="bold">
				<a href="#">{{ep.anime.title}} {{ep.number}}</a>
			</p>
			<p class="calendarinfo">
				{{ep.name}}
			</p>
		</div>
	{{/each}}
</div>
