<div class="content container">
	<ul class="pager">
		<li class="previous">
			{{#linkTo "calendar" lastWeek}}&larr; Oldie but a goodie{{/linkTo}}
		</li>
		<li class="next">
			{{#linkTo "calendar" nextWeek}}Into the future!! &rarr;{{/linkTo}}
		</li>
	</ul>

	
	{{#each day in controller.arrangedEpisodes}}
		<h2 class="calendar">{{day.firstObject}}</h2>
		{{#each episode in day.lastObject}}
		<div class="pull-left gallery-episode">
			<div class="gallery-image">
				<a href="#">
					<img {{bindAttr src="episode.imageURL"}}>
				</a>
			</div>
			<p class="bold single">
				<a href="#">{{episode.anime.title}} {{episode.number}}</a>
			</p>
			<p class="calendarinfo single">
				{{episode.name}}
			</p>
		</div>
		{{/each}}
	{{/each}}
</div>
