<div class="content container">
	<div class="row">
		{{#linkTo "calendar" lastWeek class="btn btn-default pull-left"}}
            <span class="glyphicon glyphicon-chevron-left"></span> {{lastWeekLink}}
        {{/linkTo}}
		
        {{#linkTo "calendar" nextWeek class="btn btn-default pull-right"}}
            {{nextWeekLink}} <span class="glyphicon glyphicon-chevron-right"></span>
        {{/linkTo}}
	</div>
</div>
{{#each day in controller.arrangedEpisodes}}
    <div class="content container infobar">
        <h1 class="text-center">{{day.firstObject.weekday}} <span class="normal">{{day.firstObject.date}}</span></h1>
    </div>
    <div class="content container">
        {{#each episode in day.lastObject}}
            <div class="anime-gallery pull-left gallery-fanart">
                <div class="gallery-image">
                    <a {{action showModal 'episodemodal' episode}} class="clickable">
                        <img {{bindAttr src="episode.imageURL"}}>
                    </a>
                </div>
                <p class="bold single">
                    {{#linkTo "anime.description" episode.anime}}
                        {{episode.anime.title}} {{episode.number}}
                    {{/linkTo}}
                </p>
                <p class="calendarinfo single">
                    {{episode.name}}
                </p>
            </div>
        {{/each}}
    </div>
{{/each}}
