<div class="content container">
	<div class="row">
		{{#linkTo "calendar" lastWeek class="btn btn-default pull-left"}}
            <span class="glyphicon glyphicon-chevron-left"></span> {{lastWeekLink}}
        {{/linkTo}}
		
        {{#linkTo "calendar" nextWeek class="btn btn-default pull-right"}}
            {{nextWeekLink}} <span class="glyphicon glyphicon-chevron-right"></span>
        {{/linkTo}}
	</div>
</div>
{{#each day in controller.arrangedEpisodes}}
    <div class="content container infobar clickable small" {{action toggleDay day target="view"}}>
        <h1 class="text-center col-11">
            {{day.firstObject.weekday}} 
            <span class="normal">{{day.firstObject.date}}</span>
        </h1>
        <h1 class="col-1">
            {{#if day.firstObject.show}}
                <span class="glyphicon glyphicon-chevron-down"></span>
            {{else}}
                <span class="glyphicon glyphicon-chevron-right"></span>
            {{/if}}
        </h1>
    </div>
    {{#if day.firstObject.show}}
        <div class="content container">
            {{#each episode in day.lastObject}}
                <div class="col-3 overflow-hidden margin-bottom-m">
                    <a class="media-item clickable" {{action showModal 'episodemodal' episode}}>
                        <div class="fanart" {{bindAttr style="episode.fanartStyle"}}>
                        </div>
                    </a>
                    <p class="bold nowrap">
                        {{#linkTo "anime.description" episode.anime}}
                            {{episode.anime.title}} {{episode.number}}
                        {{/linkTo}}
                    </p>
                    <p class="calendarinfo nowrap">
                        {{episode.name}}
                    </p>
                </div>
            {{/each}}
        </div>
    {{/if}}
{{/each}}
