<hr>
{{#with view.content}}
<div class="row-fluid">
	<div class="span1">
		<a {{action goToAnime this target="parentView"}}> 
            <img {{bindAttr src="imageURLSmall"}} />
        </a>
	</div>
	<div class="span8">
		<p class="bold">
			<a {{action goToAnime this target="parentView"}}> 
				{{title}}
			</a>
		</p>
		<p>{{desc}}</p>
	</div>
</div>
{{/with}}
