<div class="content container">
	<caption>Contains the current anime requests for the site</caption>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th>Request</th>
				<th>Made by</th>
				<th>Completeness</th>
			</tr>
		</thead>
		<tbody>
			{{#each request in model}}
				<tr>
					<td>{{request.id}}</td>
					<td>{{#linkTo request request}}{{request.title}}{{/linkTo}}</td>
					<td>{{request.createdBy}}</td>
					<td><span {{bindAttr class="request.labelclass :badge"}}>{{request.percentage}}%</span></td>
				</tr>
			{{/each}}
	</table>
</div>