<div class="container margin-top">
	<div class="row-fluid">
		<table class="table table-hover table-striped pull-left span4 content">
			<thead>
				<tr>
					<th class="span10">Anime request</th>
					<th class="span2">{{model.length}}
				</tr>
			</thead>
			<tbody>
				{{#each request in model}}
					<tr>
						<td>
							{{#linkTo request request}}<b>{{request.title}}</b>{{/linkTo}} <small>{{request.createdBy.nick}}</small>
						</td>
						<td>
							<span {{bindAttr class="request.labelclass :badge"}}>{{request.percentage}}%</span>
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>

		{{outlet}}
	
	</div>
</div>