<div class="span8 pull-right content">
	<div class="anime-gallery request">
        <img {{bindAttr src="fanart"}}/>
		<div class="backdrop">
			<span class="white-center">
				<img {{bindAttr src="poster"}} />
			</span>
		</div>
	</div>

	<h2>{{title}}</h2>
	<div class="row-fluid">
		<table class="table table-striped table-small span12">
			<thead>
                <tr>
                    <th class="span3">Site</th>
                    <th class="span3">Season/Episodes</th>
                    <th class="span3">Comment</th>
                    <th class="span3">Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each info in request_info}}
                    {{#each attribute in info.request_attributes}}

                        <tr>
                            <td {{bindAttr class="info.scrape_id::muted"}}>
                            {{#if info.scrape_id}}
                                <a {{bindAttr href="info.site.url"}}>{{info.site.name}}</a>
                            {{else}}
                                {{info.site.name}}
                            {{/if}}
                            </td>
                            <td>{{attribute.value}}</td>
                            <td><i class="icon-comment"></i></td>
                            <td><i class="icon-edit"></i> Edit</td>
                        </tr>

                    {{/each}}
                {{/each}}
            	<!--<tr>
                    <td class="muted"><a>Myanimelist</a></td>
                    <td></td>
                    <td></td>
                    <td><i class="icon-edit"></i> Edit</td>
                </tr>
                <tr>
                    <td class="muted"><a>AniDB</a></td>
                    <td>Episode 14 - 94</td>
                    <td><i class="icon-comment"></i></td>
                    <td><i class="icon-edit"></i> Edit</td>
                </tr>
                <tr>
                    <td class="muted"><a>thetvdb</a></td>
                    <td class="">Season 2</td>
                    <td></td>
                    <td><i class="icon-edit"></i> Edit</td>
                </tr>
                <tr>
                    <td class="muted">Trakt.tv</td>
                    <td></td>
                    <td></td>
                    <td><i class="icon-edit"></i> Edit</td>
                </tr>
                <tr>
                    <td class="muted">themoviedb</td>
                    <td></td>
                    <td></td> 
                    <td><i class="icon-edit"></i> Edit</td>
                </tr>-->
            </tbody>
		</table>
	</div>
	<hr />
</div>