{{#with content}}
<div class="modal-dialog episode">
  <div class="modal-content episode">
    <div class="row">
      <div class="col-lg-6 js-episodeInfo">
        <div class="modal-episode">
          <img {{bindAttr src="imageURL"}}>
          <div class="border-image"></div>
        </div>
        <div class="modal-episode">
          <a class="btn" {{action markEpisodeAsSeen this}}>Mark as seen</a>
          <a class="btn">Report a issue</a>
        </div>
        <div class="modal-footer">
          <p class="animedesc">
            {{description}}
          </p>
        </div>
      </div>
      <div class="col-lg-6">

        <div class="modal-header">
          <button type="button" class="close" {{action hideModal}}>&times;</button>
          <div class="row">
            <div class="col-lg-11 centertext">
              <h2 class="nomargin">
                <a class="clickable" href {{action 'goToAnime' anime target="view"}}>
                  {{anime.title}}
                </a>
              </h2>
            </div>
          </div>
        </div>
        <div class="comments js-commentsHeight">
          {{#each activity in details.arrangedUserEpisode}}

            <div>  
              {{#link-to 'user.profile' activity.user class="bold"}}{{activity.user.nick}}{{/link-to}} watched this.<span class="pull-right small"> {{activity.since}} </span> 
            </div>
            <hr/>

          {{/each}}              

        </div>
      </div>
      <h2 class="outside">
          {{#if view.hasPrevious}}
          <a class="clickable" {{action 'previous' this target="view"}}> 
            <img class ="pull-left arrow" src="./static/img/arrow_left.png">
          </a> 
          {{/if}}
          <span class="small grey">Episode {{number}}</span> - {{name}} <span class="small grey">  {{dateformat aired}}</span> 
          {{#if view.hasNext}}
          <a class="clickable" {{action 'next' this target="view"}}>
            <img class ="pull-right arrow" src="./static/img/arrow_right.png">
          </a>
          {{/if}}
        </h2>
    </div>
  </div>
</div>
{{/with}}

<div {{action 'hideModal'}} class="modal-backdrop"></div>
