{{#with view.content}}
<div class="row episodelist">
    <div class="pull-left col-lg-2">
        <div class="gallery-image">
            <a class="clickable" {{action showModal 'episodemodal' this}}>
            <img {{bindAttr src="this.imageURL"}} /></a>
        </div>
    </div>
    <div class="col-lg-8 episode-info">
        <div class="row">
            <h4 class="col-lg-10 normal">
                <a class="clickable" {{action showEpisode this target="view"}}>
                    {{#if this.special}}
                        <span class="label label-info">Special</span>
                    {{/if}}
                    #{{this.number}} - {{this.name}}
                </a>
            </h4>
            <p class="subtle col-lg-2 pull-right">{{this.parseAired}}</p>
        </div>
        <p>{{this.shortDescription}}</p>
    </div>
</div>
<hr>
{{/with}}    
