<div class="container content infobar">
    <div class="row-fluid">
        <div class="span8 pull-left">
            <h1>{{title}}<span class="small pull-right">(2009-2012)</span></h1>
        </div>
    </div>
</div>
<div class="container content">
{{#each episode in sortedEpisodes}}
    <div class="row-fluid">
        
        <div class="gallery-episode pull-left">
            <div class="gallery-image">
                <a><img {{bindAttr src="episode.imageURL"}} /></a>
            </div>
        </div>
        <div class="span8 margin">
            <h4><a>Episode {{episode.number}} - {{episode.name}}</a></h4>
            <p class="subtle">{{episode.aired}}</p>
            <p>{{episode.description}}</p>
        </div>
    </div>
{{/each}}
</div>