{{#with view.content}}

<div class="modal episode">
  <div class="row-fluid">
    <div class="span6 js-episodeInfo">
      <div class="modal-episode">
        <img {{bindAttr src="imageURL"}}>
      </div>

      <h2 class="outside"><a {{action previous this target="view"}}> <i class="icon-arrow-left icon-white pull-left"></i></a> <span class="small grey">Episode {{number}}</span> - {{name}} <span class="small grey">{{aired}}</span> <a {{action next this target="view"}}><i class="icon-arrow-right icon-white pull-right"></i></a></h2>
      
      <!--
      <div class="last-seen" style="display:none;">
        <h2><span class="bold">Last</span> seen by</h2> 


        <img class="img-rounded" src="http://www.gravatar.com/avatar/5c713d38d26a2b1cef8ff286fc53c8fa.jpg?size=30">
        <img class="img-rounded" src="http://www.gravatar.com/avatar/5c713d38d26a2b1cef8ff286fc53c8fa.jpg?size=30">
        <img class="img-rounded" src="http://www.gravatar.com/avatar/5c713d38d26a2b1cef8ff286fc53c8fa.jpg?size=30">
        <img class="img-rounded" src="http://www.gravatar.com/avatar/5c713d38d26a2b1cef8ff286fc53c8fa.jpg?size=30">
      
      </div>
      -->

      <div class="modal-footer">
        <p class="animedesc">
          {{description}}
        </p>
      </div>
    </div>
    <div class="span6">
      
      <div class="modal-header">
        <button type="button" class="close" rel="close" data-dismiss="modal" aira-hidden="true">&times;</button>
        <h2><span class="bold">Last</span> activity</h2>
      </div>

      <div class="comments js-commentsHeight">
        
        <!-- Comment 1 -->
        
        <div class="row-fluid">
            <img class="img-rounded pull-left" src="http://gravatar.com/avatar/79bf7c793958b269fc2ad82c1c36afd7.jpg?s=30&r=pg">
          <div class="span10">
            
              <a href="#" class="bold">Larseknu</a> <span class="pull-right bold small grey"> 15 hours ago</span> 
              <p class="comment-small">best episode ..... ever</p>
              
          
          </div>
        </div>
        <hr/>

        <!-- Comment 2 -->

        <div class="row-fluid">
            <img class="img-rounded pull-left" src="http://www.gravatar.com/avatar/5c713d38d26a2b1cef8ff286fc53c8fa.jpg?size=30">
          <div class="span10">  
              <a href="#" class="bold">Groenlid</a> watched this.<span class="pull-right bold small grey"> 16 hours ago</span> 
          </div>
        </div>
        <hr/>

                <div class="row-fluid">
            <img class="img-rounded pull-left" src="http://www.gravatar.com/avatar/253691ed13945e5fb883c4e05b4c470c.jpg?size=30">
          <div class="span10">  
              <a href="#" class="bold">Atemu</a> watched this.<span class="pull-right bold small grey"> 17 hours ago</span> 
          </div>
        </div>
        <hr/>


        <div class="row-fluid">
            <img class="img-rounded pull-left" src="http://www.gravatar.com/avatar/5c713d38d26a2b1cef8ff286fc53c8fa.jpg?size=30">
          <div class="span10">  
              <a href="#" class="bold">Groenlid</a> watched this.<span class="pull-right bold small grey"> 1 day ago</span> 
          </div>
        </div>
        <hr/>


          <div class="row-fluid">
            <img class="img-rounded pull-left" src="http://www.gravatar.com/avatar/5c713d38d26a2b1cef8ff286fc53c8fa.jpg?size=30">
          <div class="span10">  
              <a href="#" class="bold">Groenlid</a> watched this.<span class="pull-right bold small grey"> 2 days ago</span> 
          </div>
        </div>
        <hr/>


      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop"></div>

{{/with}}