<div class="container content infobar searchBar">
<div class="row-fluid">
    {{log controller.content}}
        <h1 class="span6"><span class="normal">Found</span> {{controller.content.length}} <span class="normal">results matching your query</span></h1>
        <div class="btn-group pull-right" style="margin-left:10px;">
            {{#each viewTypes}}
                <a class="btn" {{action changeViewType this target="controller"}}>
                    <i {{bindAttr class="icon"}}></i>
                </a>
            {{/each}}
        </div>
        <div class="span2 pull-right">
            <div class="span5 line-height-input">Sort by: </div>
            <div class="span7">
            {{view Ember.Select 
                contentBinding="sortTypes" 
                optionLabelPath="content.label"
                optionValuePath="content.value"
                selectionBinding="chosenSort"
            }}</div>
        </div>
    </div>
</div>

<div class="container content">
{{view App.AnimeListView viewTypeBinding="controller.searchResults.viewType" contentBinding="controller"}}
<div class="clear"></div>
</div>


