<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <a class="navbar-toggle pull-left" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="navbar-brand" href="#">Uranime</a>

        <div class="nav-collapse collapse">

            <ul class="nav navbar-nav">
                <li>{{#link-to 'animeoverview'}}Anime{{/link-to}}</li>
                <li>{{#link-to 'community'}}Community{{/link-to}}</li>
                <li>{{#link-to 'calendar' date}}Calendar{{/link-to}}
                <li>{{#link-to 'requests'}}Requests{{/link-to}}
            </ul>

            <ul class="nav navbar-nav pull-right">

                <!-- Notification w/popover -->
                <li class="divider-vertical"></li>
                {{view App.SearchFormView}}
                <li class="divider-vertical"></li>
                {{view App.NotificationsView}}


                <!-- User profile -->
                <li class="divider-vertical"></li>

                {{#if auth.signedIn}}
                    {{partial 'application/partials/loggedIn'}}
                {{else}}
                    {{partial 'application/partials/notLoggedIn'}}
                {{/if}}
                
            </ul>
        </div>
    </div>
</div>

{{outlet}}
{{outlet modal}}
